---
interface Props {
    //interface = Declaracion de tipos de datos
    title: string;
} //BLOQUE DE JS (No es para generar interaccion con los usuarios, solo manipula el html)

const { title } = Astro.props; //etiqueta que tiene una propiedad que se llama title
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link />
    </head>
    <body class="p-0 m-0 bg-[#1b2838]">
        <!-- <slot /> -->
        <header class="bg-[#161d24] h-[100px]">
            <div class="container max-w-[1200px] mx-auto">
                <div
                    class="flex-menu m-0 ml-[6%] flex h-20 w-[52%] float-left items-center text-[#ecf2f8] font-sans"
                >
                    <img
                        class="w-40"
                        src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
                        alt="Logo Steam"
                    />
                    <menu>
                        <li
                            class="ml-[10px] list-none inline-block hover:text-[#6c6cff]"
                        >
                            <a
                                class="my-0 mx-2 font-semibold no-underline text-[#ffffff] relative hover:text-[#6c6cff]"
                                href="#">Tienda</a
                            >
                        </li>
                        <li
                            class="ml-[10px] list-none inline-block hover:text-[#6c6cff]"
                        >
                            <a
                                class="my-0 mx-2 font-semibold no-underline text-[#ffffff] relative hover:text-[#6c6cff]"
                                href="#">Comunidad</a
                            >
                        </li>
                        <li
                            class="ml-[10px] list-none inline-block hover:text-[#6c6cff]"
                        >
                            <a
                                class="my-0 mx-2 font-semibold no-underline text-[#ffffff] relative hover:text-[#6c6cff]"
                                href="#">Acerca de</a
                            >
                        </li>
                        <li
                            class="ml-[10px] list-none inline-block hover:text-[#6c6cff]"
                        >
                            <a
                                class="my-0 mx-2 font-semibold no-underline text-[#ffffff] relative hover:text-[#6c6cff]"
                                href="#">Soporte</a
                            >
                        </li>
                    </menu>
                </div>
                <div class="menu-right float-left mt-0 w-2/5">
                    <a
                        href="#"
                        class="btn-download no-underline text-[#f0f8ff] my-0 mx-2 bg-[#789806] py-[6px] px-[12px] font-[sans-serif] inline-flex gap-[8px] items-center hover:bg-[#728f08]"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 w-[18px]"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
                            ></path>
                        </svg>
                        Instalar Steam
                    </a>
                    <a class="no-underline text-[#f0f8ff] my-0 mx-2" href="#"
                        >Iniciar sesión</a
                    >
                    <a class="no-underline text-[#f0f8ff] my-0 mx-2" href="#"
                        >Idioma</a
                    >
                </div>
            </div>
        </header>
        <div
            class="banner bg-[url('https://gepig.com/game_cover_460w/6742.jpg')] bg-cover h-[450px] m-0 relative"
        >
            <menu
                class="small-menu flex bg-[linear-gradient(90deg,rgb(62,103,150,0.919)_11.38%,rgb(58,120,177,0.8)_25.23%,rgb(15,33,110)_100%)] w-[50.5%] text-center py-[15px] pr-5 pl-10 absolute top-[5%] left-[18.5%] ml-[4%]"
            >
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Tienda de Puntos</a
                    >
                </li>
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Categorías</a
                    >
                </li>
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Noticias</a
                    >
                </li>
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Nuevo y destacable</a
                    >
                </li>
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Laboratorios</a
                    >
                </li>
                <li class="inline-block mr-[15px] hover:bg-[#304380]">
                    <a class="no-underline text-[#f0f8ff] text-[17]" href="#"
                        >Tu tienda</a
                    >
                </li>
                <div class="form-menu flex gap-0 pl-10 duration-[0.5s]">
                    <input
                        class="bg-[#316282] rounded-md h-[25px]"
                        id="search"
                        type="search"
                        placeholder="  buscar"
                    />
                    <button
                        class="icon-search bg-[#839fb4] rounded-md "
                        id="icon-search"
                        type="submit"
                        ><i class="fa-duotone fa-solid fa-magnifying-glass"
                        ></i></button
                    >
                </div>
            </menu>
        </div>
        <div
            class="left-menu float-left z-[1] left-[calc(((100%-1200px)/2)-180px)] bg-[#ffc0cb] w-[180px] h-[360px] sticky top-0 "
        >
        </div>
        <div class="recomendado w-[980px] h-[480px] mr-[4%] ml-[21.5%]">
            <h1
                class="text-[15px] mb-1 ml-5 text-white mt-5 font-sans font-normal"
            >
                DESTACADOS Y RECOMENDADOS
            </h1>
            <div class="contenido flex list-none ml-5 font-serif">
                <div
                    class="hover:cursor-pointer h-[360px] w-[60%] bg-[#fff5f5] bg-no-repeat bg-cover bg-[url('https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2198150/ss_533b0699cd1d6692cfa332f234ce03a36c547480.600x338.jpg?t=1727471389')] shadow-[3px_3px_8px_#00000066]"
                >
                </div>
                <a href="">
                    <div
                        class="h-[360px] w-[40%] bg-gray-900 shadow-[3px_3px_8px_#00000066]"
                    >
                        <a href="">
                            <li
                                class="mt-2 mb-2 text-[20px] ml-5 text-[#fff5f5]"
                            >
                                Black Myth: Wukong
                            </li>
                            <div class="flex flex-wrap">
                                <img
                                    class="h-[80px] w-[180px] mb-2"
                                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2198150/ss_c9086858afd32f9c2bd49c164ddc2494af1e7f31.600x338.jpg?t=1727471389"
                                    alt=""
                                />
                                <img
                                    class="h-[80px] w-[180px] mb-2 ml-2"
                                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2198150/ss_83248b45f1431127f94ab7bcfc246e5efb26848e.600x338.jpg?t=1727471389"
                                    alt=""
                                />
                                <img
                                    class="h-[80px] w-[180px] mb-2"
                                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2198150/ss_6a8c7a510715796a659bd9fd828cc02cf73e11de.600x338.jpg?t=1727471389"
                                    alt=""
                                />
                                <img
                                    class="h-[80px] w-[180px] mb-2 ml-2"
                                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2198150/ss_1a98b0d5e8111f100b3ececda8f682333337e3cb.600x338.jpg?t=1727471389"
                                    alt=""
                                />
                            </div>
                            <h1
                                class="text-[20px] text-[#fff5f5] ml-5 my-0"
                            >
                                Ya disponible
                            </h1>
                            <h2
                                class="text-[14px] h-5 w-28 bg-gray-400 text-center ml-5 rounded text-[#fff5f5]"
                            >
                                Lo mas vendido
                            </h2>
                            <h3
                                class="ml-5 mb-3 text-[13px] text-[#fff5f5] mt-11 font-sans"
                            >
                                COL$ 199.000
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </body>
    <div class="banner3 bg-[#40e0d0] h-[1200px]"></div>

    <div
        class="group bg-blue-500 inline-flex text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 hover:cursor-pointer items-center"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4 mr-1 mt-1 group-hover:animate-spin"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
            ></path>
        </svg>

        presióname!
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4 mt-[4px] ml-1"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
        </svg>
    </div>
</html>

<style>
    /*  
   html,
    body {
        padding: 0;
        margin: 0;
    }

    header {
        background: #161d24;
        height: 80px;
    }
    
/*
    .container {
        max-width: 1200px;
        /* 0 arriba y abajo, auto a izquierda y derecha */
    /* margin: 0 auto;
    }
*/
    /*
    .flex-menu {
        margin: 0;
        display: flex;
        height: 80px;
        width: 60%;
        /* float left es para permitir que un elemento de bloque tenga contenido a su lado */
    /* float: left;
        align-items: center;
        color: #ecf2f8;
        font-family: sans-serif;
        /* text transform uppercase transforma todo a mayuscula */
    /* text-transform: uppercase;
    }
    .flex-menu a {
        margin: 0 8px;
        color: rgb(236, 242, 248);
        font-weight: 600;
        text-decoration: none;
    }
*/
    /*
    .flex-menu img {
        width: 160px;
    }
*/
    /*
    .flex-menu li {
        margin-left: 10px;
        /* le digo list style none porque normalmente esa etiqueta no deja poner una al lado de otro, entonces anulo eso */
    /* list-style: none;
        display: inline-block;
    }
*/
    /*
    .menu-right {
        float: left;
        margin-top: 0px;
        width: 40%;
    }
 */
    /*
    .menu-right a {
        text-decoration: none;
        color: #f0f8ff;
        margin: 0 8px;
    }
*/
    /*
    .btn-donwnload {
        color: #ecf2f8;
        background-color: #789806;
        display: inline-block;
        padding: 6px 12px;
        font-family: sans-serif;
        text-decoration: none;
        display: inline-flex;
        gap: 8px;
        align-items: center;
    }
*/
    /*
    .btn-donwnload svg {
        width: 18px;
    }
    .btn-donwnload:hover {
        background-color: #728f08;
    }
*/
    /*
    .banner {
        background: url(https://gepig.com/game_cover_460w/6742.jpg);
        background-size: cover;
        height: 360px;
        margin: 0;
        position: relative;
    }
    */
    /*
    .banner2 {
        position: relative; /* para que mantenga la posicion y no afecte el small-menu*/
    /* background: #800080;
        height: 240px;
    }
    */
    /*
    .left-menu {
        float: left;
        z-index: 1;
        left: calc(((100% - 1200px) / 2) - 180px);
        background: #ffc0cb;
        /* margin-left: 20px; */
    /* width: 180px;
        height: 360px;
        position: sticky;
        /* para que se salga del flujo del padre */
    /* top: 0;
    }
    */
    /*
    .banner3 {
        background-color: #40e0d0;
        height: 1200px;
    }
 */
    /*
    .small-menu a {
        text-decoration: none;
        color: #f0f8ff;
        font-size: 17px;
    }
*/
    /*
    .small-menu {
        display: flex;

        margin: 20px auto 0 auto;
        /* margin-top: 20px; */
    /*background-color: #5252d4;
        width: 70%;
        text-align: center;
        padding: 15px 20px 15px 40px;
        position: absolute;
        top: 5%;
        left: 20%;*/
    /* transform: translate(-5-20); */
    /*
    }
*/
    /*
    .small-menu li {
        /* background-color: #8790be; */
    /* display: inline-block;
        margin-right: 15px;
    }
 */
    /*
    #search {
        background-color: #2c2c8f;
        border-radius: 6px;

        height: 25px;
        /* padding: 10px; 
    }
*/
    /*
    #icon-search {
        background-color: #1414c0;
        border-radius: 6px;
    }
*/
    /*
    .form-menu {
        display: flex;
        gap: 0;
        padding-left: 40px;
        transition: 0.5s;
    }
*/
    /*
    .flex-menu a {
        font-weight: 600;
        text-decoration: none;
        color: #ffffff;
        position: relative; /* Necesario para el pseudo-elemento 
    }

    .flex-menu a:hover {
        color: #6c6cff;
    }

    .flex-menu li:hover {
        color: #6c6cff;
    }
*/
    /*
    .flex-menu a::after {
        content: ""; /* Crea el pseudo-elemento 
        display: block;
        width: 100%; /* Ancho del subrayado 
        height: 3px; /* Grosor del subrayado 
        background-color: #6c6cff; /* Color del subrayado 
        position: absolute;
        left: 0;
        bottom: -5px; /* Ajusta la distancia desde el texto (cambia este valor) 
        transform: scaleX(0); /* Inicia oculto 
        transition: transform 0.3s ease; /* Transición suave 
    }
*/
    /*
    .flex-menu a:hover::after {
        transform: scaleX(1); /* Muestra el subrayado al pasar el mouse 
    }
*/
  /*  
    .small-menu li:hover {
        background-color: #6b6bff;
        box-shadow: 0 10px 40px #6c6cff;
    }
  */
  
</style>
